.employee-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.employee-table th {
  background-color: #ffa559;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  color: white;
}

.employee-table td {
  padding: 10px;
}

.employee-table tbody tr:hover {
  background-color: #fff6dc;
  cursor: pointer;
}

.create-employee {
  display: flex;
  justify-content: "space-between";
}

.create-employee .btn {
  margin-left: auto;
}
